# Financial Data Analysis Environment
# Data collection and processing
yfinance==0.2.36
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Machine Learning
scikit-learn==1.4.2

# Development
jupyterlab==4.1.5
ta
